.homepageWrapper {
  display: flex;
}

.fontChange {
  font-style: italic;
}

.button {
  cursor: pointer;
  white-space: nowrap;
  z-index: 10;
}

.contents {
  @media screen and (min-width: 1801px) and (max-width: 2399px) {
    width: 655px;
  }

  @media screen and (min-width: 2400px) {
    width: 880px;
  }
}
